{
  "mcpServers": {
    "zotero-mcp": {
      "httpUrl": "http://127.0.0.1:23120/mcp",
      "headers": {
        "Content-Type": "application/json"
      },
      "timeout": 60000,
      "trust": true
    },
    "notion": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://mcp.notion.com/mcp"
      ]
    },
    "exa": {
      "httpUrl": "https://mcp.exa.ai/mcp"
    }
  },
  "security": {
    "enablePermanentToolApproval": true
  },
  "context": {
    "includeDirectories": [
      ""
    ]
  }
}